<!-- Button trigger modal -->
<button class="btn btn-default" id="modalTrigger" data-toggle="modal" data-target="#myModal">Create / Update</button>
<!-- Button for deleting CV -->
<a class="fa fa-trash-o" href="/delete" id="deletecv" onclick="return myConfirm();"></a>
<script>
    function myConfirm() {
        if(confirm("Are you sure that you want to delete your CV?")){
            return true;
        }else{
            return false;
        }
    }
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create / Update</h4>
      </div>
      <div class="modal-body">
      	<form method="POST" action="update" id="form">
        	<h4>Personal information</h4>
            <input type="hidden" value="{{page._id}}" name="id"/>
        	<div class="form-group">
                <label for="photo">Upload photo</label>
                <input type="file" class="form-control" name="photo" value="{{page.photo}}">
            </div>
            <div class="form-group">
                <label for="cv">Upload CV</label>
                <input type="file" class="form-control" name="cv" value="{{page.cv}}">
            </div>
            <div class="form-group">
            	<label for="author">Author</label>
                <input type="text" class="form-control" name="author" placeholder="Author" value="{{page.author}}">
            </div>
            <div class="form-group">
                <label for="profession">Profession</label>
                <input type="text" class="form-control" name="profession" placeholder="Profession" value="{{page.profession}}">
            </div>
            <div class="form-group">
                <label for="facebook">Facebook link</label>
                <input type="text" class="form-control" name="facebook" placeholder="Facebook link" value="{{page.facebook}}">
            </div>
            <div class="form-group">
                <label for="linkedIn">LinkedIn link</label>
                <input type="text" class="form-control" name="linkedIn" placeholder="LinkedIn link" value="{{page.linkedIn}}">
            </div>
            <div class="form-group">
                <label for="github">Github link</label>
                <input type="text" class="form-control" name="github" placeholder="Github link" value="{{page.github}}">
            </div>
            <br>
            <h4>About</h4>
            <div class="form-group">
                <label for="aboutSubtitle">Subtitle</label>
                <input type="text" class="form-control" name="aboutSubtitle" placeholder="Subtitle" value="{{page.aboutSubtitle}}">
            </div>
            <div class="form-group">
                <label for="about.coverLetter">Cover letter</label>
                <textarea class="form-control" rows="5" name="about.coverLetter" placeholder="Cover letter">{{page.about.coverLetter}}</textarea>
            </div>
            <div class="form-group">
                <label for="about.phoneNumber">Phone number</label>
                <input type="text" class="form-control" name="about.phoneNumber" placeholder="Phone number" value="{{page.about.phoneNumber}}">
            </div>
            <div class="form-group">
                <label for="about.email">Email</label>
                <input type="text" class="form-control" name="about.email" placeholder="Email" value="{{page.about.email}}">
            </div>
            <div class="form-group">
                <label for="about.address">Address</label>
                <input type="text" class="form-control" name="about.address" placeholder="Address" value="{{page.about.address}}">
            </div>
            <br>
            <h4>Skills</h4>
            <div class="form-group">
                <label for="skillsSubtitle">Subtitle</label>
                <input type="text" class="form-control" name="skillsSubtitle" placeholder="Subtitle" value="{{page.skillsSubtitle}}">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="group">Add skill group</button>
            </div>
            <div class="skill-group" id="skill-group">
                <div class="alert alert-warning">
                    <strong>Warning!</strong> Single skill can not be deleted, you will have to delete the whole skill group.
                </div>
                {{# each page.skills}}
                    <div id="group{{@index}}">
                        <hr>
                        <i class="fa fa-trash-o" aria-hidden="true" id="removeGroup" data="{{@index}}" value="{{this._id}}"></i>
                    <div class="form-group">
                        <label for="skills.title">Skill group name</label>
                        <input type="text" class="form-control" name="skills[{{@index}}][title]" placeholder="Skill group name" value="{{this.title}}">
                        </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="skill" data="{{@index}}">Add skill</button>
                        </div>
                        {{# each this.skills}}
                            <ul>
                            <div id="skill{{@index}}">
                            <div class="form-group">
                            <label for="skills.skill.skillName">Skill name</label>
                            <input type="text" class="form-control" name="skills[{{@../index}}][skills][{{@index}}][skillName]" placeholder="Skill name" value="{{this.skillName}}">
                            </div>
                            <div class="form-group">
                            <label for="skills.skill.mastery">Skill mastery</label>
                            <br>
                            <input type="text" id="ext0{{@../index}}{{@index}}" data-slider-id="ex1Slider" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{this.mastery}}" value="{{this.mastery}}" name="skills[{{@../index}}][skills][{{@index}}][mastery]">
                            </div>
                            </div>
                            </ul>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
            <br>
            <h4>Experience</h4>
            <div class="form-group">
                <label for="expirienceSubtitle">Subtitle</label>
                <input type="text" class="form-control" name="expirienceSubtitle" placeholder="Subtitle" value="{{page.expirienceSubtitle}}">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="job">Add job</button>
            </div>
            <div class="exp" id="exp">
                {{#each page.expirience}}
                <div id="job{{@index}}">
                    <hr>
                    <i class="fa fa-trash-o" aria-hidden="true" id="removeJob" data="{{@index}}" value="{{this._id}}"></i>
                    <div class="form-group">
                    <label for="expirience.employerName">Employer name</label>
                    <input type="text" class="form-control" name="expirience[{{@index}}][employerName]" placeholder="Employer name" value="{{this.employerName}}">
                    </div>
                    <div class="form-group">
                    <label for="expirience.position">Position</label>
                    <input type="text" class="form-control" name="expirience[{{@index}}][position]" placeholder="Position" value="{{this.position}}">
                    </div>
                    <div class="form-group">
                    <label for="expirience.date">Date</label>
                    <input type="text" class="form-control" name="expirience[{{@index}}][date]" placeholder="mm.yyyy - mm.yyyy" value="{{this.date}}">
                    </div>
                    <div class="form-group">
                    <label for="expirience.explanation">Description</label>
                    <textarea rows="5" class="form-control" name="expirience[{{@index}}][explanation]" placeholder="Description">{{this.explanation}}</textarea>
                    </div>
                </div>
                {{/each}}
            </div>
            <br>
            <h4>Education</h4>
            <div class="form-group">
                <label for="educationSubtitle">Subtitle</label>
                <input type="text" class="form-control" name="educationSubtitle" placeholder="Subtitle" value="{{page.educationSubtitle}}">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="school">Add school</button>
            </div>
            <div class="education" id="educ">
                {{#each page.education}}
                    <div id="school{{@index}}">
                        <hr>
                    <i class="fa fa-trash-o" aria-hidden="true" id="removeSchool" data="{{@index}}" value="{{this._id}}"></i>
                    <div class="form-group">
                    <label for="education.schoolName">School name</label>
                    <input type="text" class="form-control" name="education[{{@index}}][schoolName]" placeholder="School name" value="{{this.schoolName}}">
                    </div>
                    <div class="form-group">
                    <label for="education.programmeName">Programme</label>
                    <input type="text" class="form-control" name="education[{{@index}}][programmeName]" placeholder="Programme" value="{{this.programmeName}}">
                    </div>
                    <div class="form-group">
                    <label for="education.date">Date</label>
                    <input type="text" class="form-control" name="education[{{@index}}][date]" placeholder="mm.yyyy - mm.yyyy" value="{{this.date}}">
                    </div>
                    <div class="form-group">
                    <label for="education.explanation">Description</label>
                    <textarea rows="5" class="form-control" name="education[{{@index}}][explanation]" placeholder="Description">{{this.explanation}}</textarea>
                    </div>
                    </div>
                {{/each}}
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="location.reload();">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>