<aside class="col-sm-3 label">
	<div class="thumbnail label">
		<div class="image-circle" style="background-image: url('/files/{{page.photo}}');">
			<!-- Need this http://foliotek.github.io/Croppie/ -->
		</div>
		<div class="caption">
			<h4><b>{{page.author}}</b></h4>
			<h5>{{page.profession}}</h5>
		</div>
		<div class="social">
			<ul>
			  <li><a class="btn btn-social-icon btn-facebook" href="{{page.facebook}}">
			  <span class="fa fa-facebook"></span></a>
			  </li>
			  <li><a class="btn btn-social-icon btn-linkedin" href="{{page.linkedIn}}">
			  <span class="fa fa-linkedin"></span></a>
			  </li>
			  <li><a class="btn btn-social-icon btn-github" href="{{page.github}}">
			  <span class="fa fa-github"></span></a>
			  </li>
			</ul>
		</div>
	</div>
	<footer class="hidden-xs">
		<p class="text-center">{{page.author}}©2016</p>
	</footer>
</aside>